.about-me {
  background-color: #262626;
  color: white;
}

.about-me-intro {
  background-image: url('/images/about-me-image.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 450px;
  margin-left: 150px;
  padding-top: 70px;
}

.about-me-title {
  font-family: 'Crete Round', monospace;
  font-size: 72px;
  font-weight: 400;
  color: #f55800;
  line-height: 81px;
  margin-bottom: 20px;
}

.about-me-description {
  width: 560px;
  font-family: Inter, monospace;
  font-size: 20px;
  font-weight: 400px;
  line-height: 32px;
}

.get-my-resume-button {
  margin-top: 50px;
  padding: 10px;
  width: 170px;
  background-color: #ff6b00;
  border: 0;
  height: 50px;
  color: white;
  font-family: Inter, monospace;
  font-size: 17px;
}

.language-framework-skills-div {
  display: flex;
  justify-content: space-around;
  margin-right: 100px;
  margin-top: 100px;
  padding-bottom: 100px;
}

.language-framework-skills-li {
  list-style-type: none;
  font-family: Inter, monospace;
  font-size: 32px;
  margin-right: 5px;
  font-weight: 700;
}

.bulletins {
  margin-right: 15px;
}

ul {
  line-height: 44px;
  list-style-type: none;
  padding-left: 0;
}

.individual-li {
  font-size: 22px;
}

#line-2 {
  background-color: white;
  height: 1px;
  width: 1150px;
  margin-left: 150px;
  margin-top: 120px;
}
