.nav-bar {
  height: 72px;
  background-color: #3e3c3c;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.nav-ul {
  list-style-type: none;
  display: flex;
  margin-right: 150px;
  vertical-align: center;
  color: white;
  padding: 10px;
}

.name {
  list-style-type: none;
  margin-left: 150px;
  color: white;
  padding: 10px;
  font-family: Inter, monospace;
  font-size: 20px;
  text-decoration: none;
  height: 30px;
  text-align: center;
  margin-top: 8px;
}

.nav-items {
  margin-left: 15px;
  font-family: Inter, monospace;
  font-size: 15px;
}

.intro-page {
  margin-top: 72px;
  display: flex;
  height: 870px;
  background-image: url('/images/Illustration-header@1x.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #1c1a19;
  color: white;
}

.social-ul {
  list-style-type: none;
  width: 100px;
  align-content: center;
  margin-top: 300px;
}

.social-li {
  margin-bottom: 25px;
}

.developer-intro {
  margin-top: 100px;
  width: 550px;
}

.developer-name {
  font-family: 'Crete Round', monospace;
  font-size: 72px;
  font-weight: 400;
  color: #f55800;
  line-height: 81px;
  margin-bottom: 20px;
}

.developer-job {
  font-family: Inter, monospace;
  font-size: 32px;
  font-weight: 400px;
  line-height: 44px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.developer-description {
  font-family: Inter, monospace;
  font-size: 20px;
  font-weight: 400px;
  line-height: 32px;
}

.my-recent-work {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
}

.recent-work-heading {
  font-family: "Crete Round", monospace;
  font-size: 40px;
  width: 340px;
}

.recent-work-and-line {
  display: flex;
}

#line-1 {
  height: 1px;
  width: 794px;
  color: black;
  background-color: #1c1a19;
  vertical-align: center;
  margin-top: 60px;
  margin-left: 40px;
}

.multipost-div {
  display: flex;
  margin-top: 100px;
  margin-bottom: 30px;
}

.yoga-img {
  height: 400px;
  margin-right: 30px;
}

.multipost-title {
  font-family: 'Crete Round', monospace;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
}

.multipost-description {
  font-family: Inter, monospace;
  font-size: 22px;
  font-weight: 400px;
  line-height: 28px;
}

.multipost-language-ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.multipost-language-buttons {
  padding: 10px;
  margin-right: 8px;
  font-family: Inter, monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid;
  border-color: #8993a4;
  background-color: white;
}

.multipost-see-project-button {
  margin-top: 0;
  padding: 10px;
  width: 120px;
  background-color: #ff6b00;
  border: 0;
  height: 50px;
  color: white;
  font-family: Inter, monospace;
  font-size: 17px;
}

.projects-div {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.first-project-grid {
  display: grid;
}

.project-img-1 {
  height: 385px;
  width: 369px;
}

.project-image {
  width: 369px;
}

.see-project-button {
  margin-top: 0;
  padding: 10px;
  background-color: #ff6b00;
  border: 0;
  height: 50px;
  color: white;
  font-family: Inter, monospace;
  font-size: 17px;
  width: 370px;
}

.individual-projects {
  position: relative;
  margin-bottom: 15px;
  margin-right: 30px;
}

.floating-project-description {
  width: 350px;
  position: absolute;
  top: 0;
  margin-top: 120px;
  color: white;
  margin-left: 15px;
}

.individual-project-title {
  font-family: 'Crete Round', monospace;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  margin-bottom: 20px;
}

.individual-project-description {
  font-family: Inter, monospace;
  font-size: 17px;
  font-weight: 400px;
  width: 350px;
  margin-top: 0;
}

.individual-project-botton-ul {
  display: flex;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.individual-project-buttons {
  padding: 15px;
  background: rgba(255, 255, 255, 0.24);
  color: white;
  margin-right: 10px;
  border: 0;
}

.website-portfolio {
  margin-top: 85px;
}

.about-me {
  background-color: #3e3c3c;
  color: white;
}

.about-me-intro {
  background-image: url('/images/about-me-image.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}
