.nav-bar {
    height: 72px;
    background-color: #3e3c3c;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    margin-right: 150px;
    vertical-align: center;
    color: white;
    padding: 10px;
}

.name-ul {
    list-style-type: none; 
    margin-left: 150px;
    color: white;
    padding: 10px;
    font-family: Inter, monospace;
    font-size: 20px;
}

.nav-items {
  margin-left: 15px;
  font-family: Inter, monospace;
    font-size: 20px;
}
